<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <h3>Your orders</h3>

      <div *ngIf="orderHistoryList.length > 0">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th width="20%">Order tracking number</th>
              <th width="10%">Total value</th>
              <th width="10%">Total quantity</th>
              <th width="10%">date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let orderHistory of orderHistoryList">
              <td>{{ orderHistory.orderTrackingNumber }}</td>
              <td>{{ orderHistory.totalValue | currency: 'USD' }}</td>
              <td>{{ orderHistory.totalQuantity }}</td>
              <td>{{ orderHistory.dateCreated |date:  'yyyy-MM-dd HH:mm' }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div *ngIf="orderHistoryList.length === 0" class="alert alert-warning col-md-12" role="alert">
        No orders found
      </div>
    </div>
  </div>
</div>